*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 25px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 18px;
    }
}
/*navegation bar*/
.nav__main{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    .nav__logo{
        width: 50%;
        
        img{
            width: 20rem;
            margin-left: 100px;
        }
    }
    .nav__text{
        width: 50%;
        display: flex;
        flex-direction: column;
        color: white;
        margin-right: 100px; 
        .nav__subtext{
            display: flex;
            justify-content: flex-end;
            padding-bottom: 20px;
           
            .nav__searcher{
                display: flex;
                margin-inline: 30px;
                border-bottom: white 1px solid;
                padding: 2px;
                input{
                    background-color: transparent;
                    border: none;
                    &::placeholder{
                        color: white;
                        padding: 10px;
                    }
                }
            }
            .nav__social{
                img{
                    margin-inline: 7px;
                }
            }
        }
        .nav__menu{
            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                li{
                    margin-left: 50px;
                    a{
                        text-decoration: none;
                        color: white;
                        &:hover{
                            text-decoration: underline;
                            transition: 3s;
                        }
                    }
                }
            }
        }
    }
}

/*main sections*/
@import "main";

/*footer*/
footer{
   background-color: black;
   margin: 100px;
   color: white;
   .footer__main{
        padding: 100px;
        .footer__top{
            display: flex;
            justify-content: space-between;
            padding-block: 20px;
            .footer__logo{
                img{
                    width: 20rem;
                }
            }
            .footer__social{
                img{
                    margin-left: 15px;
                }
            }
        }
        .footer__bottom{
            display: flex;
            justify-content: space-between;
            padding-block: 20px;
            .footer__bottom__about{
                padding-right: 100px;
            }
            .footer__bottom__instagram{
                padding-right: 100px;
                .footer__bottom__instagram__img{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-areas: 
                    "1 2 3"
                    "4 5 6"
                    "7 8 9";
                    gap: 5px;
                }
            }
            .footer__bottom__contact{
                padding-right: 100px;
            }
        }
    }
}